# Code build
code/build/
code/docs/output/

# Pico SDK
code/pico-sdk/

# Bitwig
bitwigPrototype/glitchFXkastle/auto-backups

# Ugly system files
.DS_Store
Thumbs.db
Desktop.ini

# MS Office temporary files
~$*

# Eagle backup files
*.b#?
*.s#?

# VS Code
.vscode/settings.json

# Vim
*.sw?

# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml